/*--------------
Fonts
------------------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@400;500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/*-------------
Variables
-------------*/

:root {
  --main-color: #e98b2c;
  --dark: #1b1b22;
  --dark-light: #32323a;
  --white: #ffffff;
  --white-light: #c8c8c8;
}

/*-------------
 Global Settings
 ---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: var(--white-light);
  background-color: var(--dark);
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1170px;
  background-color: red;
  margin: auto;
}

.min-vh-100 {
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*-----------------------
Custom Scrollbar
-------------------------*/

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-track{
background-color:var(--dark);
}
::-webkit-scrollbar-thumb{
    background-color:var(--main-color);
}

/*--------------------------
About Section
-------------------------*/
.about-section .min-vh-100{
    padding:120px 15px;
}
.about-content {
  background-color: green;
  max-width:620px;
  width:100%;
  margin:auto;
  text-align:center;
}

.about-content img{
    max-width:200px;
}
